<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <simpleshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kgkrunch\InternationalShipping\Model\Carrier\Shipping</model>
                <name>Kgkrunch International Shipping Method</name>
                <price>10</price>
                <minprice>100</minprice>
                <maxprice>1000</maxprice>
                <title>Kgkrunch International Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </simpleshipping>
        </carriers>
    </default>
</config>
